<p id="notice"><%= notice %></p>

<h1>Listing Pia</h1>

<table>

  <thead>
    <tr>
      <th>id </th>
      <th>titulo </th>
    </tr>
  </thead>

  <tbody>
    <% @pia.each do |pium| %>
      <tr>
        <td><%= pium.pid %></td>
        <td><%= pium.titulo %></td>
      </tr>
    <% end %>
  </tbody>

</table>

<br>

